<div class="btn-group-vertical">
  <div>
    <span class="badge badge-pill bg-success left_action_badge">W</span>
    <%= link_to "Wilderness", wilderness_menus_path, class: "action_btn btn btn-info rounded-pill" %>
  </div>
  <div>
    <span class="badge badge-pill bg-success left_action_badge">T</span>
    <button type="button" class="btn btn-info action_btn rounded-pill">
      Trainer
    </button>
    <span class="badge badge-pill bg-danger right_action_badge">!</span>
  </div>
  <div>
    <span class="badge badge-pill bg-success left_action_badge">S</span>
    <button type="button" class="btn btn-info action_btn rounded-pill">
      Shop
    </button>
  </div>
  <div>
    <span class="badge badge-pill bg-success left_action_badge">J</span>
    <button type="button" class="btn btn-info action_btn rounded-pill">
      Jeweler
    </button>
  </div>
  <div>
    <span class="badge badge-pill bg-success left_action_badge">B</span>
    <button type="button" class="btn btn-info action_btn rounded-pill">
      Bard
    </button>
    <span class="badge badge-pill bg-danger right_action_badge">!</span>
  </div>
  <div>
    <span class="badge badge-pill bg-success left_action_badge">H</span>
    <button type="button" class="btn btn-info action_btn rounded-pill">
      Healer
    </button>
  </div>
  <div>
    <span class="badge badge-pill bg-success left_action_badge">S</span>
    <button type="button" class="btn btn-info action_btn rounded-pill">
      Scouts
    </button>
    <span class="badge badge-pill bg-danger right_action_badge">!</span>
  </div>
</div>
