<div class="d-flex justify-content-center">
  <span class="text-span">
    There are <b><%= 24-@player.hours %></b> hours of daylight left today.
  </span>

  <span class="text-span">
    There are <b><%= 7-@player.days %></b> days until the boss arrives.
  </span>
</div>
