<div class="d-flex justify-content-center">
  <span class="text-span">
    <span class="badge badge-pill bg-success top_timing_badge">Today</span>
    <b><%= (Setting.daily_hours(@player.id)-@player.hours).floor %></b> hours.
  </span>

  <span class="text-span">
    <span class="badge badge-pill bg-success top_timing_badge">Boss</span>
    There are <b><%= (Setting.weekly_days-@player.days).floor %></b> days.
  </span>
</div>
